---
const { label, name } = Astro.props;
---

<div>
  <label for={name}>
    <div class="flex text-sm">
      <input
        type="checkbox"
        name={name}
        id={name}
        x-model={name}
        class="form-checkbox rounded text-blue-400"
      />
      <div class="ml-1">{label}</div>
    </div>
  </label>
</div>
